@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap');

.App {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    background-color: rgb(39, 40, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.calculator {
    background-image: linear-gradient(0deg, black, rgb(255 255 255 / 5%));
    border-radius: 10px;
    width: 95%;
    max-width: 300px;
    padding: 2rem;
}

.process-input {
    width: 100%;
    text-align: right;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 0;
    color: white;
    background-color: rgb(255 255 255 / 10%);
}

.buton {
    cursor: pointer;
    background-image: linear-gradient(45deg, black, rgb(65, 65, 65));
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    border: 0;
    width: 100%;
    display: block;
}

.process-btn {
    color: rgb(0, 153, 255);
}

.reset-btn {
    background-image: linear-gradient(45deg, red, rgb(114, 6, 6));
}

.equal-btn {
    aspect-ratio: unset;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(14, 63, 136), rgb(0, 140, 255));
    border-radius: 100px;
}